.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
    height: 705px;
    padding: 12px;
    overflow: overlay;

    h4,p{
        padding: 0 0 12px 12px;

    }

    .footer{
        .links{
            padding: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 4px;


            a{
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                color: #2e2e2e;
            }
        }

        .copy-right{
            padding: 8px;
            font-size: 12px;
            color: #a3a3a3;
        }
    }
}