.wrapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
// Avatar sizes
.small{
    width: 2.4rem;
    height: 2.4rem;
}

.medium{
    width: 3.2rem;
    height: 3.2rem;
}

.big{
    width: 3.6rem;
    height: 3.6rem;
}



